<h1>Create Member</h1>
<div class="image">
    <div class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>full name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Full name" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Email" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" formControlName="birthDate" placeholder="Birth date"
                [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>University</mat-label>
            <input matInput type="text" formControlName="university" placeholder="University" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput type="text" formControlName="telNumber" placeholder="Phone number" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Statut</mat-label>
            <mat-select formControlName="statut" placeholder="statut">
                <mat-option *ngFor="let type of statut" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p class="error">{{errorText}}</p>
        <button mat-raised-button color="primary" *ngIf="form.valid" class="ValidatedButton" (click)="saveNewMember()">Save</button>
        <button mat-raised-button color="primary" *ngIf="!form.valid" >Save</button>
    </div>
</div>