<div class="header-container">
    <div class="nav-menu">
        <a  routerLink='Home'>Home</a>
        <a  routerLink='/Events'> Events</a>
        <a  routerLink='/Members'> Members</a>
        <a  routerLink='/Trainings'> Trainings</a>
        <a  routerLink='/Meetings/'> Meetings</a>
    
    </div>
    <img src="../../assets/fun.jpg"   width="110" height="100">
    <img src="../../assets/impr.png"   width="110" height="100">
    <div class="user">
         <img src="../../assets/avatar.jpg" alt="Avatar" width="50" height="50"> 
    <button mat-button [matMenuTriggerFor]="menu">{{username}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item  (click) ="openDialog()">change password</button>
        <button mat-menu-item (click)="logOut()">log out</button>
    </mat-menu>
</div>
</div>