<div class="buttons">
    <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="add()" >Add responsibility</button>

</div>
<div class="items">
    <div *ngFor="let responsibility of responsibilities" class= "activeResponsibilities">
        <p>
            <b>Name:</b> <i> {{ responsibility.name }}</i>
        </p>
        <p>
            <b>Start Date:</b> <i> {{ responsibility.startDate | date}}</i>
        </p>
        <p>
            <b>End Date:</b> <i> {{ responsibility.endDate | date}}</i>
        </p>
         <p>
            <b>responsible:</b><i> {{ responsibility.responsible!.name }}</i>
        </p>
        <button mat-raised-button color="accent" (click)="openDialog(responsibility)" >see more</button> 
        <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="edit(responsibility.id)"  >Edit</button>
        <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="delete(responsibility.id)">Delete</button>
    </div>
</div>

