<h1 mat-dialog-title>{{member.name}}</h1>
<div class="page">
     <div class="date">

          <p> <i><b>Birth Date: </b></i>
               {{member.birthDate | date}}</p>
          <p><i><b>Phone number:</b> </i>
               {{member.telNumber }}</p>
          <p><i><b>Email: </b></i>
               {{member.email }}</p>
          <p><i><b>Start Date: </b></i>
               {{member.startDate | date}}</p>
          <p><i><b>Statut Change Date: </b></i>
               {{member.statutChangeDate | date}}</p>
          <p><i><b>University: </b></i>
               {{member.university }}</p>
          <p><i><b>Statut: </b></i>
               {{member.statut }}</p>
     </div>
     <div class="date">
          <p><b> Trainings: </b></p>
          <div class="list" *ngFor="let training of trainings">
               <p>
                    <i>-{{ training.name }} at {{training.date | date}}</i>
               </p>
          </div>
     </div>
     <div class="date">
          <p><b> Meetings: </b></p>
          <div class="list" *ngFor="let meeting of meetings">
               <p>
                    <i>-{{ meeting.name }} at {{meeting.date | date}}</i>
               </p>
          </div>
     </div>
     <div class="date">
          <p><b>Responsibilities: </b></p>
          <div class="list" *ngFor="let responsibility of responsibilities">
               <p>
                    <i>-{{ responsibility.name }} at {{responsibility.event!.name}}</i>
               </p>
          </div>
     </div>
</div>