<div class="date">
     <h1 mat-dialog-title>{{member.name}}</h1>
<p> <i><b>Birth Date: </b></i>
     {{member.birthDate | date}}</p>
<p><i><b>Phone number:</b> </i>
     {{member.telNumber }}</p>
<p><i><b>Email: </b></i>
     {{member.email }}</p>
<p><i><b>Start Date: </b></i>
     {{member.startDate | date}}</p>
<p><i><b>Statut Change Date: </b></i>
     {{member.statutChangeDate | date}}</p>
<p><i><b>University: </b></i>
     {{member.university }}</p>
<p><i><b>Statut: </b></i>
     {{member.statut }}</p>
<p><b> trainings: </b></p>
<div class="list" *ngFor="let training of trainings">
     <p>
          <i>-{{ training.name }}</i>
     </p>
</div>
<p><b> meetings: </b></p>
<div class="list" *ngFor="let meeting of meetings">
     <p>
          <i>-{{ meeting.name }}</i>
     </p>
</div>
<p><b>responsibilities: </b></p>
<div class="list" *ngFor="let responsibility of responsibilities">
     <p>
          <i>-{{ responsibility.name }} at {{responsibility.event!.name}}</i>
     </p>
</div>
</div>