.page{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

.login{
background-image: url(../assets/comrawpixel2339918.jpg);
background-size: contain;
background-size: cover;
position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}