<h1>Create Event</h1>
<div class="image">
    <div class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="name" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> 

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start date</mat-label>
            <input matInput formControlName="startDate" placeholder="Start date"
                [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End date</mat-label>
            <input matInput formControlName="endDate" placeholder="End date"
                [matDatepicker]="picker1" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        
        <p class="error">{{errorText}}</p>
         <button mat-raised-button color="primary" *ngIf="form.valid" class="ValidatedButton" (click)="saveNewEvent()">Save</button>
         <button mat-raised-button color="primary" *ngIf="!form.valid" >Save</button>
    </div>
</div>