<h1>Create Training</h1>
<div class="image">
    <div class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="name" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" formControlName="date" placeholder="date"
                [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Trainer Name</mat-label>
            <input matInput type="text" formControlName="trainerName" placeholder="Trainer Name" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <p class="error">{{errorText}}</p>
        <button mat-raised-button color="primary" *ngIf="form.valid" class="ValidatedButton" (click)="saveNewTraining()">Save</button>
        <button mat-raised-button color="primary" *ngIf="!form.valid" >Save</button>
    </div>
</div>