<div class="side">
    <div class="card">
        <h1 class="secondTitle"><b>Office data:</b></h1>
        <div class="lastItems">
            <div >
            <h2> Future meeting:</h2>
                <!-- <p>{{meeting.date | date}}</p> -->
                <p>20:00</p>
            </div>
            <h2> Temperatura: </h2>
            <div class="Temperatura">
                4
            </div>
            <h2> E cineva? </h2>
            <div class="IsOpen">
                DA
            </div>
        </div>
    </div>
</div>