<div class="body">
    <div class="topHalf">

        <div class="leftHalf">
                <h2 class="secondTitle">The future trainings</h2>
                <div class="info">
                <div *ngFor="let training of trainings"  class="lastItems">
                    <p>
                        <b>Name:</b> <i>  {{ training.name }}</i>
                    </p>
                    <p>
                        <b>Date:</b> <i>  {{ training.date | date}}</i>
                    </p>
                    <p>
                        <b>Facilitator</b><i>  {{ training.trainerName }}</i>
                    </p>
                </div>
            </div>

        </div>

        <div class='leftHalf'>
                <h2 class="secondTitle">The future meetings</h2>
                <div class="info">
                <div *ngFor="let meeting of meetings"  class="lastItems">
                    <p>
                        <b>Name:</b> <i>  {{ meeting.name }}</i>
                    </p>
                    <p>
                        <b>Date:</b> <i>  {{ meeting.date | date}}</i>
                    </p>
                    <p>
                        <b>Facilitator</b><i>  {{ meeting.facilitatorName }}</i>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>