<div class="mat-typography wholepage">
    <div class="page">
        <div class="info">
            <div class="item">
                <div *ngFor="let event of events"  class="events">
                    <p>
                        <b>Name:</b> <i>  {{ event.name }}</i>
                    </p>
                    <p>
                        <b>Date:</b> <i>  {{ event.startDate | date}}</i>
                    </p>
                    <p>
                        <b>Facilitator</b><i>  {{ event.endDate | date}}</i>
                    </p>
                    <button mat-raised-button color="accent"  id="EditItem">Edit</button>
                    <button mat-raised-button color="accent"  id="EditItem">delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button color="accent">Add event</button>
    </div>
</div>

