<div class="buttons">
    <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="add()" >Add event</button>
    <button mat-raised-button color="accent" *ngIf="!isActiveList" (click)="activeList()" >See future events</button>
    <button mat-raised-button color="accent" *ngIf="isActiveList" (click)="activeList()" >See all events</button>
</div>
<div  *ngIf="!isActiveList"  class="items">
    <div *ngFor="let event of events" [className]="isGreaterThanNow(event)? 'activeEvents':'events'">
        <p>
            <b>Name:</b> <i> {{ event.name }}</i>
        </p>
        <p>
            <b>Start Date:</b> <i> {{ event.startDate | date}}</i>
        </p>
        <p>
            <b>End Date:</b><i> {{ event.endDate | date}}</i>
        </p>
         <button mat-raised-button color="accent" *ngIf="isGreaterThanNow(event) && isAdmin()" (click)="edit(event.id)" >Edit</button> 
        <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="delete(event.id)" >Delete</button>
        <button mat-raised-button color="accent" (click)="goToResp(event)" >All resp</button>
    </div>
</div>
<div  *ngIf="isActiveList"  class="items">
    <div *ngFor="let event of activeEvents" class="activeEvents">
        <p>
            <b>Name:</b> <i> {{ event.name }}</i>
        </p>
        <p>
            <b>Start Date:</b> <i> {{ event.startDate | date}}</i>
        </p>
        <p>
            <b>End Date:</b><i> {{ event.endDate | date}}</i>
        </p>
        <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="edit(event.id)" >Edit</button>
        <button mat-raised-button color="accent" *ngIf="isAdmin()" (click)="delete(event.id)" >Delete</button>
        <button mat-raised-button color="accent" (click)="goToResp(event)" >All resp</button>
    </div>
</div>
