<div class="image">
    <div class="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>old password</mat-label>
            <input matInput type="password" formControlName="oldPassword" placeholder="old password" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>new password</mat-label>
            <input matInput type="password" formControlName="newPassword" placeholder="new password"  required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> 
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>confirm new password</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword" placeholder=" confirm new password" required />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> 
        <p class="error">{{errorText}}</p>
         <button mat-raised-button color="primary" (click)="editPassword()">Save</button>
        </div>
</div>