<div class="buttons">
    <button mat-raised-button color="accent"  routerLink="CreateTraining" >Add training</button>
    <button mat-raised-button color="accent" *ngIf="!isActiveList" (click)="activeList()" >See future trainings only</button>
    <button mat-raised-button color="accent" *ngIf="isActiveList" (click)="activeList()" >See all trainings</button>
</div>
<div  *ngIf="!isActiveList"  class="items">
    <div *ngFor="let training of trainings" class="trainings">
        <p>
            <b>Name:</b> <i> {{ training.name }}</i>
        </p>
        <p>
            <b>Date:</b> <i> {{ training.date | date}}</i>
        </p>
        <p>
            <b>Facilitator</b><i> {{ training.trainerName }}</i>
        </p>
        <button mat-raised-button color="accent" >Delete</button>
        <button mat-raised-button color="accent" >All Pax</button>
    </div>
</div>
<div  *ngIf="isActiveList"  class="items">
    <div *ngFor="let training of activeTrainings" class="activeTrainings">
        <p>
            <b>Name:</b> <i> {{ training.name }}</i>
        </p>
        <p>
            <b>Date:</b> <i> {{ training.date | date}}</i>
        </p>
        <p>
            <b>Facilitator</b><i> {{ training.trainerName }}</i>
        </p>
        <button mat-raised-button color="accent" routerLink="EditTraining/training.id" >Edit</button>
        <button mat-raised-button color="accent" >Delete</button>
        <button mat-raised-button color="accent" >All Pax</button>
        <button mat-raised-button color="accent" >Apply</button>
    </div>
</div>
